@model EsquemasSecundarios.Models.Mantenimientos

@{
    ViewBag.Title = "Mantenimientos";
    ViewBag.PTitle = "Nuevo mantenimiento";
}


@using (Html.BeginForm()) 
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })


        <h2>Fecha</h2>
        <div class="row">
            <div class="col-sm-12">
                <div class="form-group">
                    <div class="form-line">
                        @Html.EditorFor(model => model.Fecha, new { htmlAttributes = new { @class = "date-picker form-control" } })
                        @Html.ValidationMessageFor(model => model.Fecha, "", new { @class = "text-danger" })
                    </div>
                </div>
            </div>
        </div>

        <h2>Subestación</h2>
        <div class="row">
            <div class="col-sm-12">
                <div class="form-group">
                    <div class="form-line">
                        @Html.DropDownList("CodSubestacion", null, "", htmlAttributes: new { @class = "select2_single form-control" })
                        @Html.ValidationMessageFor(model => model.Subestacion, "", new { @class = "text-danger" })
                    </div>
                </div>
            </div>
        </div>

        <h2>Esquema</h2>
        <div class="row">
            <div class="col-sm-12">
                <div class="form-group">
                    <div class="form-line">
                        @Html.DropDownList("IdEsquema", null, "", htmlAttributes: new { @class = "select2_single form-control" })
                        @Html.ValidationMessageFor(model => model.Esquema, "", new { @class = "text-danger" })
                    </div>
                </div>
            </div>
        </div>

        <h2>Tipo de mantenimiento</h2>
        <div class="row">
            <div class="col-sm-12">
                <div class="form-group">
                    <div class="form-line">
                        @Html.DropDownList("id_Tipo", null, "", htmlAttributes: new { @class = "select2_single form-control" })
                        @Html.ValidationMessageFor(model => model.TipoMantenimiento, "", new { @class = "text-danger" })
                    </div>
                </div>
            </div>
        </div>

        <h2>Observaciones</h2>
        <div class="row">
            <div class="col-sm-12">
                <div class="form-group">
                    <div class="form-line">
                        @Html.TextArea("Observaciones", new { @class = "form-control", @placeholder = "Escriba una descripción detallada..." })
                        @Html.ValidationMessageFor(model => model.Observaciones, "", new { @class = "text-danger" })
                    </div>
                </div>
            </div>
        </div>

        <hr />
        <div class="row">
            <div class="col-sm-12">
                <button type="submit" class="btn btn-primary"><i class="fa fa-plus"></i> Crear</button>
                <a class="btn btn-default" href="@Url.Action("Index","Mantenimientos")"><i class="fa fa-list"></i> Listado</a>
            </div>
        </div>
    </div>
}

@section styles {
<link rel="stylesheet" type="text/css" href="~/Content/daterangepicker.css" />
@Styles.Render("~/Style/Select2")
}

@section script {

<script src="~/Scripts/moment.min.js"></script>
<script src="~/Scripts/daterangepicker.js"></script>
@Scripts.Render("~/Script/Select2")

<script>    
    $(document).ready(function () {

        //datepicker
        $('.date-picker').daterangepicker({
            singleDatePicker: true,
            calender_style: "picker_4",
            locale: {
                format: 'YYYY-MM-DD'
            },
        }, function(start, end, label) {
            console.log(start.toISOString(), end.toISOString(), label);
            });

        //select2
        $(".select2_single").select2({
            placeholder: "Seleccione un elemento de la lista",
            allowClear: true
        });

});
</script>

}