@model EsquemasSecundarios.Models.Mantenimientos

@{
    ViewBag.Title = "Mantenimientos";
    ViewBag.PTitle = "Eliminar";
}

<h3>¿Seguro que desea eliminar este Mantenimiento?</h3>
<div>
    <div class="row clearfix">
        <div class="col-md-12">
            <table class="table">
                <tr>
                    <th>Subestación</th>
                    <td>@Html.DisplayFor(model => model.CodSubestacion)</td>
                </tr>
                <tr>
                    <th>Esquema</th>
                    <td>@ViewBag.Esquema</td>
                </tr>
                <tr>
                    <th>Fecha</th>
                    <td>@Html.DisplayFor(model => model.Fecha)</td>
                </tr>
                <tr>
                    <th>Tipo de mantenimiento</th>
                    <td>@ViewBag.TipoMantenimiento</td>
                </tr>
                <tr>
                    <th>Observaciones</th>
                    <td>@Html.DisplayFor(model => model.Observaciones)</td>
                </tr>
            </table>
        </div>
    </div>

    <hr />
    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <button type="submit" class="btn btn-danger"><i class="fa fa-eraser"></i> Eliminar</button>
            <a class="btn btn-default" href="@Url.Action("Index","Mantenimientos")"><i class="fa fa-list"></i> Listado</a>
        </div>
    }
</div>