@model EsquemasSecundarios.Models.Mantenimientos

@{
    ViewBag.Title = "Relevadores";
    ViewBag.PTitle = "Detalles";
}

<div class="row clearfix">
    <div class="col-md-12">
        <table class="table">
            <tr>
                <th>@Html.DisplayNameFor(model => model.Fecha)</th>
                <td>@Html.DisplayFor(model => model.Fecha)</td>
            </tr>
            <tr>
                <th>@Html.DisplayNameFor(model => model.CodEquipo)</th>
                <td>@Html.DisplayFor(model => model.CodEquipo)</td>
            </tr>
            <tr>
                <th>@Html.DisplayNameFor(model => model.Mantenimiento)</th>
                <td>@Html.DisplayFor(model => model.Mantenimiento)</td>
            </tr>
            <tr>
                <th>@Html.DisplayNameFor(model => model.Observaciones)</th>
                <td>@Html.DisplayFor(model => model.Observaciones)</td>
            </tr>
            <tr>
                <th>@Html.DisplayNameFor(model => model.FechaProximo)</th>
                <td>@Html.DisplayFor(model => model.FechaProximo)</td>
            </tr>
            <tr>
                <th>@Html.DisplayNameFor(model => model.MttoProximo)</th>
                <td>@Html.DisplayFor(model => model.MttoProximo)</td>
            </tr>
            <tr>
                <th>@Html.DisplayNameFor(model => model.Subestacion)</th>
                <td>@Html.DisplayFor(model => model.Subestacion)</td>
            </tr>
        </table>
    </div>
</div>

<hr />
<p>
    <a class="btn btn-info" href="@Url.Action("Edit","Mantenimientos", new { Fecha = Model.Fecha, CodEquipo = Model.CodEquipo })"><i class="fa fa-edit"></i> Editar</a>
    <a class="btn btn-default" href="@Url.Action("Index","Mantenimientos")"><i class="fa fa-list"></i> Listado</a>
</p>
