<div class="col-md-8">
    @{
        if (ViewBag.Equipo == "barra")
        {
            <small>Seleccione el elemento eléctrico de tipo Barra</small>
            @Html.DropDownList("Elemento_Electrico", null, "", htmlAttributes: new { @class = "select2_single form-control" })
        }
        else if (ViewBag.Equipo == "transformador")
        {
            <small>Seleccione el elemento eléctrico de tipo Transformador</small>
            @Html.DropDownList("Elemento_Electrico", null, "", htmlAttributes: new { @class = "select2_single form-control" })
        }
        else if (ViewBag.Equipo == "linea")
        {
            <small>Seleccione el elemento eléctrico de tipo Línea</small>
            @Html.DropDownList("Elemento_Electrico", null, "", htmlAttributes: new { @class = "select2_single form-control" })
        }
        else if (ViewBag.Equipo == "-1")
        {
            <h3 class="alert alert-warning">No se han encontrado equipos para la subestación seleccionada!</h3>
        }
    }
</div>

@section styles
{
    @Styles.Render("~/Style/iCheck")
    @Styles.Render("~/Style/Select2")
}

@section script
{
    @Scripts.Render("~/Script/Select2")

    <script>
        $(".select2_single").select2({
            placeholder: "Seleccione un elemento de la lista",
            allowClear: true
        });
        $(".select2_group").select2({});
        $(".select2_multiple").select2({
            placeholder: "Seleccione uno o varios elementos de la lista",
            allowClear: true
        });
    </script>
}