@model EsquemasSecundarios.Models.EsquemaProteccion

@{
    ViewBag.Title = "Esquemas de protección";
    ViewBag.PTitle = "Nuevo esquema";
}

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        
        <h2>Nombre del esquema</h2>
        <div class="row clearfix">
            <div class="col-md-12">
                <div class="form-group">
                    <input id="NombreEsquema" title="Seleccione el Tipo de Esquema y el Interruptor" name="Nombre" type="text" placeholder="Este campo se generará de manera automatizada" disabled="disabled" class="form-control"/>
                </div>
            </div>
        </div>

        @Html.HiddenFor(model => model.Clase)

        <h2>Tipo de Esquema</h2>
        <div class="row clearfix">
            <div class="col-md-12">
                <div class="form-group">
                    <select id="SelectorTipoEsquema" class="select2_single form-control">
                        <optgroup label="Esquemas de Protección">
                            <option selected disabled></option>
                            <option value="Esquema de Protección y Control del Interruptor">Esquema de Protección y Control de Interruptor</option>
                            <option value="Esquema de Protección del Transformador">Esquema de Protección de Transformador</option>
                            <option value="Esquema de Protección – Diferencial de la Barra">Esquema de Protección – Diferencial de Barras</option>
                            <option value="Esquema de Protección DAF/DAV">Esquema de Protección DAF/DAV</option>
                            <option value="Esquema de Protección Especial de la Barra">Esquema de Protección Especial de Barra</option>
                            <option value="Esquema de Protección Separadora">Esquema de Protección Separadora</option>
                        </optgroup>
                        <optgroup label="Esquemas de Control">
                            <option value="Esquema de Control - Ventilación del Transformador">Esquema de Control - Ventilación de Transformador</option>
                            <option value="Esquema de Control - Cambia Taps del Transformador">Esquema de Control - Cambia Taps de Transformador</option>
                            <option value="Esquema de Control – del Desconectivo">Esquema de Control – Desconectivo</option>
                            <option value="Esquema de Control Potenciales de la Barra">Esquema de Control Potenciales de Barra</option>
                            <option value="Esquema de Control – Cargador de Baterías">Esquema de Control – Cargador de Baterías</option>
                            <option value="Esquema de Control Distribución de Corriente Directa">Esquema de Control Distribución de Corriente Directa</option>
                            <option value="Esquema de Control Distribución de Corriente Alterna">Esquema de Control Distribución de Corriente Alterna</option>
                        </optgroup>
                        <optgroup label="Esquemas de Señalización">
                            <option value="Esquema de Señalización Central">Esquema de Señalización Central</option>
                        </optgroup>
                        <optgroup label="Esquemas de Automática">
                            <option value="Esquema de Automática RAS (Reposición Automática del Servicio)">Esquema de Automática RAS (Reposición Automática del Servicio)</option>
                            <option value="Esquema de Automática de Líneas">Esquema de Automática de Líneas</option>
                        </optgroup>
                    </select>
                </div>
            </div>
        </div>

        <h2>Instalación</h2>
        <div class="row clearfix">
            <div class="col-md-12">
                <div id="VPInstalacion" class="form-group">
                    <input type="text" placeholder="Necesita seleccionar un Tipo de Esquema" disabled="disabled" class="form-control" />
                </div>
            </div>
        </div>

        <h2>Interruptor</h2>
        <div class="row clearfix">
            <div class="col-md-12">
                <div id="VPInterruptores" class="form-group">
                    <input type="text" placeholder="Necesita seleccionar una Instalacion" disabled="disabled" class="form-control" />
                </div>
            </div>
        </div>

        <h2>Tipo de Equipo Primario</h2>
        <div class="row clearfix">
            <div class="col-md-12">
                <div id="VPTipoEquipoPrimario" class="form-group">
                    @Html.DropDownList("Tipo_Equipo_Primario", null, "", htmlAttributes: new { @class = "select2_single form-control col-md-12", @disabled = "disabled" })
                </div>
            </div>
        </div>

        <h2>Elemento Eléctrico</h2>
        <div class="row clearfix">
            <div class="col-md-12">
                <div id="VPElementoElectrico" class="form-group">
                    <input type="text" placeholder="Necesita seleccionar un Equipo Primario" disabled="disabled" class="form-control" />
                </div>
            </div>
        </div>

        <h2>Transformadores</h2>
        <div class="row clearfix">
            <div class="col-md-12">
                <div id="VPTransformadores" class="form-group">
                    <input type="text" placeholder="Necesita seleccionar una Instalacion" disabled="disabled" class="form-control" />
                </div>
            </div>
        </div>

        <h2>Relevadores</h2>
        <div class="row clearfix">
            <div class="col-md-12">
                <div id="VPRelevadores" class="form-group">
                    <input type="text" placeholder="Necesita seleccionar una Instalacion" disabled="disabled" class="form-control" />
                </div>
            </div>
        </div>

        <div class="row clearfix">
            <div class="col-md-12">
                <hr />
                <button type="submit" class="btn btn-success"><i class="fa fa-plus"></i> Crear Esquema</button>
                <a class="btn btn-default" href="@Url.Action("Index","EsquemasProteccion")"><i class="fa fa-list"></i> Regresar al Listado</a>
            </div>
        </div>
    </div>
}

<div class="modal fade bs-funciones-modal-lg" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">
                    <span aria-hidden="true">×</span>
                </button>
                <h4 class="modal-title" id="modalFuncionesTitle">Gestionar funciones</h4>
            </div>
            <div class="modal-body">
                <div id="modal-alert-msg" class="alert alert-success alert-dismissible fade in" role="alert" style="display:none">
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                        <span aria-hidden="true">×</span>
                    </button>
                    <div id="modal-msg"></div>
                </div>
                <h2>Relevador</h2>
                <div class="row clearfix">
                    <div class="col-md-12">
                        <div class="form-group">
                            @Html.DropDownList("RelevadorFunc", null, "", htmlAttributes: new { @class = "select2_single form-control", @id = "rele_fn" })
                        </div>
                    </div>
                </div>
                <div id="modalFuncionesContenido"></div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" id="btn-modal-guardar" style="display:none;">Guardar</button>
                <button type="button" class="btn btn-default" data-dismiss="modal">Salir</button>
            </div>
        </div>
    </div>
</div>

@section styles
{
    @Styles.Render("~/Style/Select2")
}

@section script
{
    @Scripts.Render("~/Script/Select2")

    <script>

        $(document).ready(function () {

            InitSelect2();

            $("#SelectorTipoEsquema").change(function () {

                if ($(this).val() == "Esquema de Protección y Control del Interruptor") {
                    CargarInstalaciones("Subestacion");
                    $("#InputTipoEquipoPrimario").val("Línea");
                    $("#Clase").val($('#SelectorTipoEsquema :selected').parent().attr('label'));
                    CargarTipoEquipoPrimario(2, false);
                }
            });

        });


        function CargarInstalaciones(tipo)
        {
            $.ajax({
                url: '@Url.Action("VPInstalaciones", "EsquemasProteccion")',
                method: "POST",
                data: { ti: tipo },
                success: function (data) {
                    $('#VPInstalacion').html(data);
                    InitSelect2();
                }
            });
        }

        function CargarInterruptores(subestacion, multiple)
        {
            $.ajax({
                url: '@Url.Action("VPInterruptores", "EsquemasProteccion")',
                method: "POST",
                data: { sub: subestacion, mult: multiple },
                success: function (data) {
                    $('#VPInterruptores').html(data);
                    InitSelect2();
                }
            });
        }

        function CargarTipoEquipoPrimario(selected,enabled)
        {
            $.ajax({
                url: '@Url.Action("VPTipoEquipoPrimario", "EsquemasProteccion")',
                method: "POST",
                data: { seleccionado: selected, habilitado: enabled },
                success: function (data) {
                    $('#VPTipoEquipoPrimario').html(data);
                    InitSelect2();
                }
            });
        }

        function CargarElementosElectricos(elemento, subestacion)
        {
            $.ajax({
                url: '@Url.Action("VPElementoElectrico", "EsquemasProteccion")',
                method: "POST",
                data: { e: elemento, codsub: subestacion },
                success: function (data) {
                    $('#VPElementoElectrico').html(data);
                    InitSelect2();
                }
            });
        }

    </script>
}