@model EsquemasSecundarios.Models.EsquemaProteccion
@{ 
    ViewBag.Title = "Esquemas de protección";
    ViewBag.PTitle = "Eliminar esquema";
}
<div class="alert alert-danger alert-dismissible fade in">Atención! Usted está a punto de eliminar este registro...</div>
<table class="table">
    <tr>
        <th>Nombre del esquema</th>
        <td>@Html.DisplayFor(model => model.Nombre)</td>
    </tr>
    <tr>
        <th>Tipo de instalación</th>
        <td>@Html.DisplayFor(model => model.Subestacion)</td>
    </tr>
    <tr>
        <th>Tipo de equipo primario</th>
        <td>@Html.DisplayFor(model => model.Tipo_Equipo_Primario)</td>
    </tr>
    <tr>
        <th>Nombre del elemento eléctrico</th>
        <td>@Html.DisplayFor(model => model.Elemento_Electrico)</td>
    </tr>
</table>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-actions no-color">
        <input type="submit" value="Eliminar" class="btn btn-danger" />
        <a class="btn btn-default" href="@Url.Action("Index","EsquemasProteccion")">Listado</a>
    </div>
}