@model EsquemasSecundarios.Models.Plantilla

@{
    ViewBag.Title = "Plantillas Rele";
    ViewBag.PTitle = "Detalles de la plantilla";
}
<!-- content starts here -->
<div class="row">
    <div class="col-md-12 col-sm-12 col-xs-12">
        <div class="x_panel">
            <div class="x_title">
                <h2>@ViewBag.PTitle</h2>
                <ul class="nav navbar-right panel_toolbox">
                    <li>
                        <a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
                    </li>
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false"><i class="fa fa-question"></i></a>
                        <ul class="dropdown-menu" role="menu">
                            <li>
                                <a href="#">Settings 1</a>
                            </li>
                            <li>
                                <a href="#">Settings 2</a>
                            </li>
                        </ul>
                    </li>
                    <li>
                        <a class="close-link"><i class="fa fa-close"></i></a>
                    </li>
                </ul>
                <div class="clearfix"></div>
            </div>
            <div class="x_content">
                <!-- content starts here -->
                <div class="row clearfix">
                    <div class="col-md-12">
                        <table class="table">
                            <tr>
                                <th>Modelo</th>
                                <td>@Html.DisplayFor(model => model.Modelo)</td>
                            </tr>
                            <tr>
                                <th>Fabricante</th>
                                <td>@ViewBag.Fabricante</td>
                            </tr>
                            <tr>
                                <th>Funciones</th>
                                <td>
                                    <ul>
                                        @foreach (var item in ViewBag.Funciones)
                                        {
                                            <li>@item</li>
                                        }
                                    </ul>                                    
                                </td>
                            </tr>                            
                        </table>
                    </div>
                </div>

                <hr />
                <p>
                    <a class="btn btn-default" href="@Url.Action("Index","Plantillas")"><i class="fa fa-list"></i> Listado</a>
                </p>
                <!-- content ends here -->
            </div>
        </div>
    </div>
</div>