@{
    ViewBag.Title = "Portada";
    ViewBag.PTitle = "Resumen";
}

<!-- content starts here -->
<div class="row">
    <div class="col-md-12">
        <blockquote>
            <p class="text-justify">
                El Módulo Esquemas Secundarios es el encargado de llevar un control estricto de todos los transformadores de corriente, los transformadores de potencial, 
                los instrumentos de medición y los relevadores de protección que se encuentran tanto en explotación como en el almacén, así como de los esquemas secundarios 
                formados por estos equipos. En el caso de los relevadores se pueden activar o no las funciones de protecciones así como definir los valores de los ajustes 
                para cada una, activando el juego de ajuste deseado.
                El sistema lleva un registro de todos los mantenimientos realizados a los equipos, con el objetivo de mejorar y hacer óptimo este proceso, ya que manteniendo 
                un control estricto sobre el mismo será fácil ir pasando paulatinamente de los mantenimientos correctivos a los preventivos. Además si un equipo presenta una 
                avería, las acciones llevadas a cabo por el personal de protecciones se pueden almacenar al igual que la fecha en que ocurrió dicha afectación.
            </p>
            <p><a href="http://asp.net" class="btn btn-primary btn-lg">Leer más &raquo;</a></p>
        </blockquote>
    </div>
</div>

<div class="row">
    <div class="col-md-4">
        <div class="panel panel-default">
            <div class="panel-body">
                <h3>Relevadores</h3>
                <p class="text-justify" style="min-height: 75px;">
                    El módulo cuenta con los nomencladores necesarios para su uso. Para crear un esquema es necesario haber creado la plantilla asociada al mismo y el relevador
                    con sus funciones.
                </p>
                <p>
                    <a class="btn btn-default" href="@Url.Action("Create","Plantillas")">Crear Plantilla &raquo;</a>
                    <a class="btn btn-default" href="@Url.Action("Create","Relevadores")">Crear Relevador &raquo;</a>
                </p>
            </div>
        </div>
    </div>

    <div class="col-md-4">
        <div class="panel panel-default">
            <div class="panel-body">
                <h3>Transformadores</h3>
                <p class="text-justify" style="min-height: 75px;">
                    Dentro de los nomencladores Ud. tiene la posibilidad de visualizar los distintos transformadores de corriente o potencial en existencia.
                </p>
                <p>
                    <a class="btn btn-default" href="@Url.Action("Index","TransformadoresCorriente")">Listado de TC &raquo;</a>
                    <a class="btn btn-default" href="@Url.Action("Index","TransformadoresPotencial")">Listado de TP &raquo;</a>
                </p>
            </div>
        </div>
    </div>

    <div class="col-md-4">
        <div class="panel panel-default">
            <div class="panel-body">
                <h3>Esquemas</h3>
                <p class="text-justify" style="min-height: 75px;">
                    Los Esquemas son la finalidad de la aplicación. En este submenú Ud podrá gestionar su trabajo con los distintos modelos de esquemas.
                </p>
                <p>
                    <a class="btn btn-default" href="@Url.Action("Index","TransformadoresCorriente")">Esquemas de protección &raquo;</a>
                </p>                
            </div>
        </div>
    </div>
</div>
<!-- content ends here -->