@model EsquemasSecundarios.Models.Averias

@{
    ViewBag.Title = "Averías";
    ViewBag.PTitle = "Eliminar avería";
}

<h3>¿Seguro que desea eliminar esta Avería?</h3>
<div>
    <div class="row clearfix">
        <div class="col-md-12">
            <table class="table">
                <tr>
                    <th>@Html.DisplayNameFor(model => model.Subestacion)</th>
                    <td>@Html.DisplayFor(model => model.CodSubestacion)</td>
                </tr>
                <tr>
                    <th>@Html.DisplayNameFor(model => model.Esquema)</th>
                    <td>@ViewBag.Esquema</td>
                </tr>
                <tr>
                    <th>@Html.DisplayNameFor(model => model.FechaReporte)</th>
                    <td>@Html.DisplayFor(model => model.FechaReporte)</td>
                </tr>
                <tr>
                    <th>@Html.DisplayNameFor(model => model.FechaAtencion)</th>
                    <td>@Html.DisplayFor(model => model.FechaAtencion)</td>
                </tr>
                <tr>
                    <th> @Html.DisplayNameFor(model => model.PersonaQueAtendio)</th>
                    <td>@Html.DisplayFor(model => model.PersonaQueAtendio)</td>
                </tr>
                <tr>
                    <th>@Html.DisplayNameFor(model => model.DatosReportados)</th>
                    <td>@Html.DisplayFor(model => model.DatosReportados)</td>
                </tr>
                <tr>
                    <th>@Html.DisplayNameFor(model => model.Analisis)</th>
                    <td>@Html.DisplayFor(model => model.Analisis)</td>
                </tr>
                <tr>
                    <th>@Html.DisplayNameFor(model => model.Conclusiones)</th>
                    <td>@Html.DisplayFor(model => model.Conclusiones)</td>
                </tr>
                <tr>
                    <th>@Html.DisplayNameFor(model => model.Recomendaciones)</th>
                    <td>@Html.DisplayFor(model => model.Recomendaciones)</td>
                </tr>
                <tr>
                    <th>@Html.DisplayNameFor(model => model.ElaboradoPor)</th>
                    <td>@Html.DisplayFor(model => model.ElaboradoPor)</td>
                </tr>
                <tr>
                    <th>@Html.DisplayNameFor(model => model.RevisadoPor)</th>
                    <td>@Html.DisplayFor(model => model.RevisadoPor)</td>
                </tr>
                <tr>
                    <th>@Html.DisplayNameFor(model => model.AprobadoPor)</th>
                    <td>@Html.DisplayFor(model => model.AprobadoPor)</td>
                </tr>
            </table>
        </div>
    </div>

    <hr />
    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <button type="submit" class="btn btn-danger"><i class="fa fa-eraser"></i> Eliminar</button>
            <a class="btn btn-default" href="@Url.Action("Index","Averias")"><i class="fa fa-list"></i> Listado</a>
        </div>
    }
</div>