@model EsquemasSecundarios.Models.Averias

@{
    ViewBag.Title = "Averías";
    ViewBag.PTitle = "Detalles de la avería";
}

<div class="row clearfix">
    <div class="col-md-6">
        <table class="table">
            <tr>
                <th>@Html.DisplayNameFor(model => model.Subestacion)</th>
                <td>@Html.DisplayFor(model => model.CodSubestacion) - @ViewBag.NombreSubestacion</td>
            </tr>
            <tr>
                <th>@Html.DisplayNameFor(model => model.Esquema)</th>
                <td>@ViewBag.Esquema</td>
            </tr>
            <tr>
                <th>@Html.DisplayNameFor(model => model.FechaReporte)</th>
                <td>@Html.DisplayFor(model => model.FechaReporte)</td>
            </tr>            
            <tr>
                <th>@Html.DisplayNameFor(model => model.FechaAtencion)</th>
                <td>@Html.DisplayFor(model => model.FechaAtencion)</td>
            </tr>
            <tr>
                <th> @Html.DisplayNameFor(model => model.PersonaQueAtendio)</th>
                <td>@Html.DisplayFor(model => model.PersonaQueAtendio)</td>
            </tr>
            <tr>
                <th>@Html.DisplayNameFor(model => model.ElaboradoPor)</th>
                <td>@Html.DisplayFor(model => model.ElaboradoPor)</td>
            </tr>
            <tr>
                <th>@Html.DisplayNameFor(model => model.RevisadoPor)</th>
                <td>@Html.DisplayFor(model => model.RevisadoPor)</td>
            </tr>
            <tr>
                <th>@Html.DisplayNameFor(model => model.AprobadoPor)</th>
                <td>@Html.DisplayFor(model => model.AprobadoPor)</td>
            </tr>            
        </table>
    </div>
    <div class="col-md-6">
        <div class="panel panel-default">
            <div class="panel-body">
                    <b>@Html.DisplayNameFor(model => model.DatosReportados)</b>
                    <p>@Html.DisplayFor(model => model.DatosReportados)</p>
                
                    <b>@Html.DisplayNameFor(model => model.Analisis)</b>
                    <p>@Html.DisplayFor(model => model.Analisis)</p>
               
                    <b>@Html.DisplayNameFor(model => model.Conclusiones)</b>
                    <p>@Html.DisplayFor(model => model.Conclusiones)</p>
               
                    <b>@Html.DisplayNameFor(model => model.Recomendaciones)</b>
                    <p>@Html.DisplayFor(model => model.Recomendaciones)</p>
            </div>
        </div>
    </div>
</div>
<hr />
<p>
    <a class="btn btn-info" href="@Url.Action("Edit","Averias", new { id = Model.IdAveria })"><i class="fa fa-edit"></i> Editar</a>
    <a class="btn btn-default" href="@Url.Action("Index","Averias")"><i class="fa fa-list"></i> Listado</a>
</p>