@model EsquemasSecundarios.Models.Averias

@{
    ViewBag.Title = "Averías";
    ViewBag.PTitle = "Editar avería";
}


@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    @Html.HiddenFor(model => model.IdAveria)

    <div class="form-horizontal">
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })


        <div class="row">
            <div class="col-md-6">
                <h2>@Html.DisplayNameFor(model => model.FechaReporte)</h2>
                <div class="col-sm-12">
                    <div class="form-group">
                        <div class="form-line">
                            @Html.EditorFor(model => model.FechaReporte, new { htmlAttributes = new { @class = "date-picker form-control" } })
                            @Html.ValidationMessageFor(model => model.FechaReporte, "", new { @class = "text-danger" })
                        </div>
                    </div>
                </div>
                <h2>@Html.DisplayNameFor(model => model.Subestacion)</h2>
                <div class="col-sm-12">
                    <div class="form-group">
                        <div class="form-line">
                            @Html.DropDownList("CodSubestacion", null, "", htmlAttributes: new { @class = "select2_single form-control", @id = "subestacion" })
                            @Html.ValidationMessageFor(model => model.CodSubestacion, "", new { @class = "text-danger" })
                        </div>
                    </div>
                </div>
                <h2>@Html.DisplayNameFor(model => model.Esquema)</h2>
                <div class="col-sm-12">
                    <div class="form-group">
                        <div class="form-line">
                            <div id="sinSubestacion">
                                @Html.DropDownList("IdEsquema", null, "", htmlAttributes: new { @class = "select2_single form-control" })
                            </div>
                            <div id="cargarEsquemas" hidden></div>
                        </div>
                    </div>
                </div>
                <h2>@Html.DisplayNameFor(model => model.FechaAtencion)</h2>
                <div class="col-sm-12">
                    <div class="form-group">
                        <div class="form-line">
                            @Html.EditorFor(model => model.FechaAtencion, new { htmlAttributes = new { @class = "date-picker form-control" } })
                            @Html.ValidationMessageFor(model => model.FechaAtencion, "", new { @class = "text-danger" })
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-md-6">
                <h2>@Html.DisplayNameFor(model => model.PersonaQueAtendio)</h2>
                <div class="col-sm-12">
                    <div class="form-group">
                        <div class="form-line">
                            @Html.DropDownList("PersonaQueAtendio", null, "", htmlAttributes: new { @class = "select2_single form-control" })
                            @Html.ValidationMessageFor(model => model.PersonaQueAtendio, "", new { @class = "text-danger" })
                        </div>
                    </div>
                </div>
                <h2>@Html.DisplayNameFor(model => model.ElaboradoPor)</h2>
                <div class="col-sm-12">
                    <div class="form-group">
                        <div class="form-line">
                            @Html.DropDownList("ElaboradoPor", null, "", htmlAttributes: new { @class = "select2_single form-control" })
                            @Html.ValidationMessageFor(model => model.ElaboradoPor, "", new { @class = "text-danger" })
                        </div>
                    </div>
                </div>

                <h2>@Html.DisplayNameFor(model => model.RevisadoPor)</h2>
                <div class="col-sm-12">
                    <div class="form-group">
                        <div class="form-line">
                            @Html.DropDownList("RevisadoPor", null, "", htmlAttributes: new { @class = "select2_single form-control" })
                            @Html.ValidationMessageFor(model => model.RevisadoPor, "", new { @class = "text-danger" })
                        </div>
                    </div>
                </div>

                <h2>@Html.DisplayNameFor(model => model.AprobadoPor)</h2>
                <div class="col-sm-12">
                    <div class="form-group">
                        <div class="form-line">
                            @Html.DropDownList("AprobadoPor", null, "", htmlAttributes: new { @class = "select2_single form-control" })
                            @Html.ValidationMessageFor(model => model.AprobadoPor, "", new { @class = "text-danger" })
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <h2>@Html.DisplayNameFor(model => model.DatosReportados)</h2>
        <div class="row">
            <div class="col-sm-12">
                <div class="form-group">
                    <div class="form-line">
                        @Html.EditorFor(model => model.DatosReportados, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.DatosReportados, "", new { @class = "text-danger" })
                    </div>
                </div>
            </div>
        </div>

        <h2>@Html.DisplayNameFor(model => model.Analisis)</h2>
        <div class="row">
            <div class="col-sm-12">
                <div class="form-group">
                    <div class="form-line">
                        @Html.TextArea("Analisis", new { @class = "form-control", @placeholder = "Escriba una descripción detallada..." })
                        @Html.ValidationMessageFor(model => model.Analisis, "", new { @class = "text-danger" })
                    </div>
                </div>
            </div>
        </div>

        <h2>@Html.DisplayNameFor(model => model.Conclusiones)</h2>
        <div class="row">
            <div class="col-sm-12">
                <div class="form-group">
                    <div class="form-line">
                        @Html.TextArea("Conclusiones", new { @class = "form-control", @placeholder = "Escriba una descripción detallada..." })
                        @Html.ValidationMessageFor(model => model.Conclusiones, "", new { @class = "text-danger" })
                    </div>
                </div>
            </div>
        </div>

        <h2>@Html.DisplayNameFor(model => model.Recomendaciones)</h2>
        <div class="row">
            <div class="col-sm-12">
                <div class="form-group">
                    <div class="form-line">
                        @Html.TextArea("Recomendaciones", new { @class = "form-control", @placeholder = "Escriba una descripción detallada..." })
                        @Html.ValidationMessageFor(model => model.Recomendaciones, "", new { @class = "text-danger" })
                    </div>
                </div>
            </div>
        </div>



        <hr />
        <div class="row">
            <div class="col-sm-12">
                <button type="submit" class="btn btn-primary"><i class="fa fa-plus"></i> Actualizar</button>
                <a class="btn btn-default" href="@Url.Action("Index","Averias")"><i class="fa fa-list"></i> Listado</a>
            </div>
        </div>
    </div>
}

@section styles {
@Styles.Render("~/Style/Select2")
@Styles.Render("~/Style/DateRangePicker")
}

@section script {
@Scripts.Render("~/Script/Select2")
@Scripts.Render("~/Script/DateRangePicker")
<script>
$(document).ready(function () {

    //Cargar esquemas segun la subestacion
    $("#subestacion").change(function () {
        var sub = $("#subestacion").val();
        if (sub != "") {
            $("#sinSubestacion").hide();
            $("#cargarEsquemas").show();
            $.ajax({
                url: '@Url.Action("CargarEsquemas", "Mantenimientos")',
                method: "POST",
                data: { codsub: sub },
                success: function (data) {
                    $('#cargarEsquemas').html(data);
                    $(".select2_single").select2({
                        placeholder: "Seleccione un elemento de la lista",
                        allowClear: true
                    });
                }
            });
        }
        else {
            $("#sinSubestacion").show();
            $("#cargarEsquemas").hide();
        }
    });

});
</script>
}