@model EsquemasSecundarios.Models.Relevador

@{
    ViewBag.Title = "Relevadores";
    ViewBag.PTitle = "Detalles del relevador";
}

<div class="row clearfix">
    <div class="col-md-12">
        <table class="table">
            <tr>
                <th>Nombre</th>
                <td>@Model.Nro_Serie</td>
            </tr>
            <tr>
                <th>Modelo</th>
                <td>@ViewBag.Modelo</td>
            </tr>
            <tr>
                <th>Fabricante</th>
                <td>@ViewBag.Fabricante</td>
            </tr>
        </table>
    </div>    
</div>
<div class="row clearfix">
    <div class="col-md-12">
        <div class="panel panel-default">
            <div class="panel-heading">Funciones asociadas al relevador</div>
            <div class="panel-body">
                <table class="table">
                    @foreach (var item in ViewBag.Funciones)
                    {
                        <tr>
                            <td>@item</td>
                        </tr>
                    }
                </table>
            </div>
        </div>
    </div>
</div>

<hr />
<p>
    <a class="btn btn-info" href="@Url.Action("Edit","Relevadores", new { id = Model.Nro_Serie })"><i class="fa fa-edit"></i> Editar</a>
    <a class="btn btn-default" href="@Url.Action("Index","Relevadores")"><i class="fa fa-list"></i> Listado</a>
</p>